.products-page table tbody td,
.products-page table th {
  white-space: nowrap;
  text-align: start;
  font-size: 14px;
  padding: 15px !important;
}
.products-page table tbody td {
  color: #1b1b23 !important;
}
.products-page table thead th {
  background-color: rgb(239 236 248 / 0.5);
}

.products-page .products-list .content,
.products-page table thead {
  border-color: rgb(199 196 215 / 1) !important
;
}

.products-page .add-product.fade .modal-dialog {
  transition: all 0.1s ease-in-out;
  transform: scale(0.9);
  opacity: 0;
}

.products-page .add-product.fade.show .modal-dialog {
  opacity: 1;
  transform: scale(1);
}
