:root {
  --primary-color: rgb(70, 72, 212);
  --primary-opacity-color: rgba(70, 72, 212, 0.271);
  --bg-secondary-color: rgb(239 236 248 / 0.5);
  --secondary-color: rgb(240, 240, 240);
  --text-color: rgb(118, 117, 134);
  --background-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-color: #fcf8ff !important;
}

.custom-bg-primary,
.custom-btn-primary {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.custom-text-primary {
  color: var(--primary-color) !important;
}

.custom-flex-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
